<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="{% block description %}{{ config.description }}{% endblock %}"
        />
        <title>{% block title %}{{ config.title }}{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ get_url(path='giallo-light.css') | safe }}"
            media="screen and (prefers-color-scheme: light)"
        />
        <link
            rel="stylesheet"
            href="{{ get_url(path='giallo-dark.css') | safe }}"
            media="screen and (prefers-color-scheme: dark)"
        />
        <link rel="stylesheet" href="{{ get_url(path='site.css') | safe }}" />
    </head>
    <body>
        {% block content %} {% endblock content %}
    </body>
</html>
