{% extends "base.html" %}
{% block title %}{{ section.title }} | {{ config.title }}{% endblock %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock %}
{% block content %}
<main>
    <article>
        <h1>{{ section.title }}</h1>
        <ul>
            {% for page in section.pages %}
            <li>
                <time datetime="{{ page.date }}">{{ page.date }}</time>
                - <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </article>
</main>
{% endblock content %}
